:root {
    --color-1: #1A374D;
    --color-2: #406882;
    --color-3: #6998AB;
    --color-4: #B1D0E0;
    --color-white: #fff;
    --color-black: #000;
    
}

.devlaza_navbar
{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2rem;
    z-index: 2000;
    box-shadow: 0px 0px 1px 2px rgb(173, 173, 173, .3);
    height: 60px;
}
.devlaza_navbar-links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.devlaza_navbar-links-logo
{
    margin-right: 2rem;
}
.devlaza_navbar-links-logo img
{
    width: 250px;
    height: 100px;
}
.devlaza_navbar-links_container 
{
    display: flex;
    flex-direction: row;
}
/* Sign in button */
.devlaza_navbar-sign
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.devlaza_navbar-links_container p,
.devlaza_navbar-sign p,
.devlaza_navbar-menu_container p
{
    color:#ffff;
    font-family: var(--font-family) ;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    margin: 0 1rem;
    cursor: pointer;
    padding-bottom: 10px;
}
.devlaza_navbar-sign button,
.devlaza_navbar-menu_container button
{
   padding: 0.5rem 1rem;
    color: #ffff;
    font-family: var(--font-family);
    font-weight: 500;
    background: #ff4820;
    border-radius: 5px;
    font-size: 18px;
    line-height: 25px;
    border: 0;
    outline: none;
    cursor: pointer;
}

/* Navbar Menu mobile hide start */

.devlaza_navbar-menu
{
    margin-left: 1rem;
    display: none;
    position: relative;
}
/* Navbar Menu mobile hide end */

.devlaza_navbar-menu svg
{
    cursor: pointer;
}
.devlaza_navbar-menu_container
{
    display: flex;
    justify-content:  flex-end;
    align-items: flex-end;
    flex-direction: column;
    text-align: end;
    background: var(--color-footer);
    padding: 2rem;
    position: absolute;
    top: 40px;
    right: 0;
    margin-top: 1rem;
    min-width: 210px;
    border-radius: 5px;
    box-shadow: 0px 0px 1px 2px rgba(0,0,0,0.3);
}

.devlaza_navbar-menu-container p 
{
    margin:  1rem 0;
}
.devlaza_navbar-menu_container sign 
{
    display: none;
}

@media(max-width: 1050px) 
{
    .devlaza_navbar-links_container
    {
        display: none;
    }
    .devlaza_navbar-menu
    {
        display: flex;
    }
    .devlaza_navbar-menu_container-links-sign
    {
        display: none;
    }
}
@media(max-width: 700px) 
{
    .devlaza_navbar
    {
        padding: 2rem 4rem;
    }
}
@media(max-width: 550px) 
{
    .devlaza_navbar
    {
        padding: 2rem;
    }
    .devlaza_navbar-sign
    {
        display: none;
    }
    .devlaza_navbar-menu_container 
    {
        top: 20px;
    }
    .devlaza_navbar-menu_container-links-sign
    {
        display: block;
    }
}